body {
    background-color: #1C1C28;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E0E0E0;
}

h1 {
    font-size: clamp(40px, 5vw + 1rem, 60px);
    color: #FFAC41;
}

h2 {
    font-size: 1.5rem;
}

div {
    background-color: #424256;
    border-radius: 30px;
    margin: 80px auto;
    padding: 15px 40px;
    max-width: 800px;
}

p {
    text-align: left;
    font-size: 18px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: calc(2rem - 1rem);
    }

    h2 {
        font-size: calc(1.5rem - 0.3rem);
    }

    div {
        margin: 50px auto;
        padding: 20px;
        width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: calc(2rem - 1rem);
    }

    h2 {
        font-size: calc(1.5rem - 0.8rem);
    }

    p {
        font-size: calc(18px - 2px);
    }

    div {
        margin: 80px;
        padding: 10px;
        width: 95%;
    }
}